// aedit zellij layout
// 
// Left pane (25%): broot file picker
// Right pane (75%): helix editor
//
// To adjust sizes, change the `size` values below.
// 
// Author: aav
// --------------------------------------------------

default_layout "compact"

session_serialization false

layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
        pane size="20%" command="aedit-broot-start.sh"
        pane size="80%" command="aedit-hx-start.sh"
    }
}
